.btn:hover {
  background-color: #b0d9ff;
}
.header {
  display: block;
}
.main-nav {
  overflow: hidden;
}

@media screen and (max-width: 760px) {
  .main-nav {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .main-nav.responsive {
    display: block;
    margin-top: 10%;
  }
}
